<!DOCTYPE html>
<html lang="sr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>

</head>
<body>


<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Forbidden</h3>
        </div>
        <div class="panel-body">

            <div class="starter-template">
                <h1>403 - Access is denied</h1>
                <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]',
                    you do not have permission to access this page.
                </div>
                <script>
                    window.setTimeout(function () {
                        window.location.href = 'login'
                    }, 4000);
                </script>
            </div>

        </div>
    </div>

</div>


<script th:remove="all"
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous">
</script>

<script th:remove="all"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        changePageAndSize();
    });

    function changePageAndSize() {
        $('#pageSizeSelect').change(function (evt) {
            window.location.replace("/index?page=0&size=" + this.value);
        });
    }

    /*]]>*/

</script>
</body>
</html>