<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
    <script src="../static/js/jquery-2.1.4.min.js"
            th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.autocomplete.js}"></script>
    <script type="text/javascript" th:src="@{/js/moment.js}"></script>

    <script src="../static/bootstrap-datetimepicker2/src/js/bootstrap-datetimepicker.js" th:src="@{/bootstrap-datetimepicker2/src/js/bootstrap-datetimepicker.js}"></script>
    <link rel="stylesheet" href="../static/bootstrap-datetimepicker2/build/css/bootstrap-datetimepicker.css"
          th:href="@{/bootstrap-datetimepicker2/build/css/bootstrap-datetimepicker.css}">

    <script src="../static/css/bootstrap-3.3.4-dist/js/bootstrap.js" th:src="@{/css/bootstrap-3.3.4-dist/js/bootstrap.js}"></script>
    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>

</head>
<body>


<div class="container">
    <div th:replace="fragments/layout :: header"></div>
    <h2>Informacije o članu</h2>
<table class="table table-striped table-bordered table-hover" th:object="${licniPodaci}">
    <tr>
        <th>Ime i prezime</th>
        <td><b th:text="*{ime + ' ' + prezime}"></b></td>
    </tr>
    <tr>
        <th>Adresa</th>
        <td th:text="*{adresa}" /></td>
    </tr>
    <tr>
        <th>JMBG</th>
        <td th:text="*{mlb}" /></td>
    </tr>
    <tr>
        <th>Broj telefona</th>
        <td th:text="*{tel2}" /></td>
    </tr>
</table>
    <div class="row col-sm-2">
        <a class="btn btn-default" th:href="@{'/index/'+${licniPodaci.id}+'/edit'}">Izmeni</a>
    </div>

</div>
</body>
</html>