.jumbotron {
    background: url('../images/SpringCoreJumbotron.jpg') no-repeat center center;
    height: 350px;
    color: white;
    text-shadow: #444 0 1px 1px;
}

body {
    color: #2b3636;
    font-family: "Proxima";
}

body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

*::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

.view-directory .course-listing {
    background-color: rgba(255, 255, 255, 0.7);
}

.course-listing {
    background-color: #f7f7f7;
    border: 1px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    cursor: pointer;
    height: 390px;
    margin-bottom: 50px;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.course-listing .course-box-image-container {
    max-height: 208px;
    overflow: hidden;
}

.course-listing .course-box-image-container .course-box-image {
    border-bottom: 1px solid #ededed;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: block;
    margin: auto;
    width: 100%;
}

img {
    vertical-align: middle;
}

img {
    border: 0 none;
}

.course-listing .course-listing-title {
    color: #6cb44a;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    max-height: 70px;
    overflow: hidden;
    padding: 16px 16px 4px;
}

.course-listing .course-listing-subtitle {
    color: #586f6f;
    font-size: 14px;
    font-weight: 200;
    max-height: 65px;
    overflow: hidden;
    padding: 5px 16px;
}

.course-listing .course-listing-extra-info .course-price {
    color: #6eae50 !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    padding-right: 10px;
    text-align: right;
}

.course-listing .course-listing-extra-info .course-author-name {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
    max-height: 30px;
    overflow: hidden;
    padding-left: 5px;
}

.course-listing .course-listing-extra-info .course-bundle {
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;
}

/*za autocomplete*/

.autocomplete-suggestions {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-no-suggestion {
    padding: 2px 5px;
}
.autocomplete-selected {
    background: #F0F0F0;
}
.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}
.autocomplete-group {
    padding: 2px 5px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
}


/* non plugin css */

.autocomplete-suggestion {
    /*   padding: 0 .6em; */
    padding: 10px 0px !important;
    line-height: 23px;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
    border-bottom:1px solid #ccc !important;
}

.autocomplete-suggestion img {
    margin: 0px 10px;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}


#suggestions-container, #events-container {
    background: #f4f4f4;
}

#events-container {
    height: 80px;
    overflow-y: auto;
}

#selection-ajax {
    background: #f4f4f4;
    display: inline-block;
    vertical-align: bottom;
}

#autocomplete-ajax-x {
    background: lightblue;
}

.schema {
    height: 200px;
    width: 100%;
    BACKGROUND: #fff;
    overflow-y: auto;
}

/*ZA AUTOCOMPLETE ENDS*/

/*za tabelu*/
/*table {*/
    /*counter-reset: rowNumber;*/
/*}*/

/*table tr {*/
    /*counter-increment: rowNumber;*/
/*}*/

/*table tr td:first-child::before {*/
    /*content: counter(rowNumber);*/
    /*min-width: 1em;*/
    /*margin-right: 0.5em;*/
/*}*/

.table-hover tbody tr:hover td {
        background-color: #7499ff;}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FBF130;
}

.navbar-default .navbar-nav > li > a {
    color: #FBF130;
}

.navbar-default .navbar-brand {
    color: #FBF130;
}

.navbar-default{
    background-image: none;
    background-color: #2D3F89;
    border-style: none;
    -webkit-box-shadow: none;
    /*-webkit-text-fill-color: #FBF130;*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: #FBF130;
    background-color: #566377;}

.navbar-default .navbar-nav > .nav-item > a:hover{
    color: #94985c;
    background-color: #566377;}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #94985c;
    background-color: #566377;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #94985c;
    background-color: #566377;
}

/*Za tabele*/
table{width:100%;}
table td, table th { border: 1px solid grey;}
table th { background: #eee;}
.pagination-div{user-select: none;}
.pagination-div span{border-radius:3px;border:1px solid #999;
    padding:5px;margin:10px 0px 0px 10px;display:inline-block}
span.selected{background:#ccf;}

/*Za paginaciju*/
.pagination-centered {
    text-align: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.pointer-disabled {
    pointer-events: none;
}


body {
    overflow-x: hidden;
}

/*.navbar-default > .active > a{*/
    /*background-color: transparent;*/
    /*color: #46a546;*/
    /*background: #46a546;*/
/*}*/

/*.active{*/
    /*background-color: #46a546;*/
    /*color: #46a546;*/
    /*background: #46a546;*/
/*}*/

.panel-primary > .panel-heading {
    background-color: #2D3F89;
    border-color: #2D3F89;
    -webkit-text-fill-color: #FBF130;
}


/*ovo brisi sve*/
#regForm {
    /*background-color: #ffffff;*/
    /*margin: 100px auto;*/
    /*padding: 40px;*/
    /*width: 70%;*/
    /*min-width: 300px;*/
}

/* Style the input fields */
/*input {*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*font-size: 17px;*/
    /*font-family: Raleway;*/
    /*border: 1px solid #aaaaaa;*/
/*}*/

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}

